@model OCMS03.Models.ViewModels.ReferralViewModel

@{
    ViewData["Title"] = "Referral";
    Layout = "~/Views/Shared/_TabLayout.cshtml";
}

<form asp-action="Referral" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
    <input type="hidden" asp-for="ReferralId" />
    <hr class="my-4" />
    <div class="form-row">
        <div class="pl-lg-3 col-lg-12">
            <div class="form-group">
                <div class="pl-lg-4 form-inline row col-md-6">
                    <label class="form-control-label text-left" asp-for="PatientName">Patient Name:</label>
                </div>
                <div class="col-lg input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="zmdi zmdi-account-o"></i></div>
                    </div>
                    <select asp-for="PatientName" class="form-control" asp-items="@Model.Patients">
                        <option value="" class="option">Select Patient Details</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-4" />
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Transfer To:</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                         aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Referral Note:</div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Print</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <div class="form-inline row col-md-6">
                        <label class="form-control-label" asp-for="DepartmentName">Department</label>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="mdi mdi-google-maps"></i></div>
                        </div>
                        <select asp-for="DepartmentName" class="form-control" id="normalDropDown" asp-items="ViewBag.DepartmentId">
                            <option value="" class="option">Select</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label"></label>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="form-inline row col-md-6">
                                    <label class="form-control-label text-left" asp-for="ReferalDescriptin">Reason For Referral:</label>
                                </div>
                                <div class="form-group">
                                    <textarea asp-for="ReferalDescriptin" style="height: 100px;  max-width: 100%; width: 100%"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-primary btn-icon-text  btn-lg">
                    <i class="mdi mdi-content-save-all btn-icon-prepend"></i>
                    Create
                </button>
                <a asp-action="Index" class="btn btn-outline-secondary btn-icon-text  btn-lg">
                    <i class="mdi mdi-reload btn-icon-prepend"></i>
                    Back
                </a>
            </div>
        </div>
    </div>
</form>
