@model OCMS03.Models.Content.Appointment

@{
    ViewData["Title"] = "DeleteAppointment";
}


    
    <form asp-action="DeleteAppointment">
        <input type="hidden" asp-for="AppointmentId" />
    </form>
