@model OCMS03.Models.Content.Province


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Add Province</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-info fa-sm text-white"></i>
    </a>
</div>
<div class="row">
    <div class="col-lg-12">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
            <input type="hidden" asp-for="ProvinceId" />
            <div class="form-group">
                <label class="form-control-label" asp-for="ProvinceName">Province</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-map-pin"></i></div>
                    </div>
                    <input asp-for="ProvinceName" class="form-control" placeholder="Province Name" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-icon-text btn-sm">
                    <i class="mdi mdi-content-save-all btn-icon-prepend"></i>
                    @(Model.ProvinceId != null ? "Update" : "Create")
                </button>
                <a asp-action="Index" class="btn btn-secondary btn-icon-text btn-sm">
                    <i class="mdi mdi-reload btn-icon-prepend"></i>
                    Back
                </a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
