
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>

</head>
<body>

    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_4.jpg);">
        <div class="wrapper">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate fadeInUp ftco-animated">

                    <h2 class="mb-4">Your Health Comes First</h2>
                    <span class="subheading">Online  booking system for any government health sectors around SA</span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="400">400</strong>
                                    <span>Hospital</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="27432">27432</strong>
                                    <span>Doctors</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="3841">3841</strong>
                                    <span>Clinics</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="17802">17802</strong>
                                    <span>General Practition</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="our-departments">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="our-departments-wrap">
                            <h2>Our Departments</h2>

                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="our-departments-cont">
                                        <header class="entry-header d-flex flex-wrap align-items-center">
                                            <img src="~/images/cardiogram.png" />

                                            <h3>Cardioology</h3>
                                        </header>

                                        <div class="entry-content">
                                            <p>Our cardiac services include surgery and care relating to cardiology (heart), cardio-thoracic (heart and lungs) and vascular (blood vessels) conditions.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="our-departments-cont">
                                        <header class="entry-header d-flex flex-wrap align-items-center">
                                            <img src="~/images/stomach-2.png" />

                                            <h3>Gastroenterology</h3>
                                        </header>

                                        <div class="entry-content">
                                            <p>Our skilled gastroenterologists are specialists in the digestive system and its disorders, diseases affecting the gastrointestinal tract.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="our-departments-cont">
                                        <header class="entry-header d-flex flex-wrap align-items-center">
                                            <img src="~/images/blood-sample-2.png" />

                                            <h3>Medical Lab</h3>
                                        </header>

                                        <div class="entry-content">
                                            <p>Our medical lab department is where tests are carried out on clinical specimens to obtain information about the health of a patient to aid diagnosis, treatment, and prevention of disease.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="our-departments-cont">
                                        <header class="entry-header d-flex flex-wrap align-items-center">
                                            <img src="~/images/teeth.png" />

                                            <h3>Dental Care</h3>
                                        </header>

                                        <div class="entry-content">
                                            <p>Our dental care services includes maintaining healthy teeth, oral hygiene and dental surgery, oral surgery that involves artificially modifying dentition.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="our-departments-cont">
                                        <header class="entry-header d-flex flex-wrap align-items-center">
                                            <img src="~/images/stretcher.png" />

                                            <h3>Surgery</h3>
                                        </header>

                                        <div class="entry-content">
                                            <p>Our skilled surgeons are specialists in uses of operative manual and instrumental techniques on a person to investigate or treat a pathological condition such as disease or injury.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="our-departments-cont">
                                        <header class="entry-header d-flex flex-wrap align-items-center">
                                            <img src="~/images/scanner.png" />

                                            <h3>Neurology</h3>
                                        </header>

                                        <div class="entry-content">
                                            <p>Our neurologists have specialised training in diagnosing, treating and managing disorders of the brain and nervous system. They treat disorders of nervous system, brain, spinal cord, nerves, muscles and pain.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4 mb-md-0">
                                    <div class="our-departments-cont">
                                        <header class="entry-header d-flex flex-wrap align-items-center">
                                            <img src="~/images/bones.png" />

                                            <h3>Orthopaedy</h3>
                                        </header>

                                        <div class="entry-content">
                                            <p>Orthopaedic specialists diagnose, treat, prevent and rehabilitate injuries and disorders of the musculoskeletal system, which include bones, joints, ligaments, muscles, nerves and tendons.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4 mb-lg-0">
                                    <div class="our-departments-cont">
                                        <header class="entry-header d-flex flex-wrap align-items-center">
                                            <img src="~/images/blood-donation-2.png" />

                                            <h3>Pediatry</h3>
                                        </header>

                                        <div class="entry-content">
                                            <p>Our paediatric department offer a safe, peaceful and healthy environment for your child. Bringing your child to hospital can be very stressful, and we do everything we can to make it stress-free</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4 mb-0">
                                    <div class="our-departments-cont">
                                        <header class="entry-header d-flex flex-wrap align-items-center">
                                            <img src="~/images/glasses.png" />

                                            <h3>Ophthalmology</h3>
                                        </header>

                                        <div class="entry-content">
                                            <p>Ophthalmology cares for the anatomy, physiology and diseases of the eyeball and orbit. Our skilled ophthalmologists are specialists in medical and surgical eye problems.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>