
@{
    ViewData["Title"] = "Logout";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="alert alert-success" role="alert">
    <p>Your email has been verified successfully.</p>
</div>

