@using System.Net.Http
@using OCMS03.Models

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/images/ThCIcon.PNG" type="image/png">
    <title>@ViewBag.Title</title>

    <link href="~/main/new/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/main/new/css/swiper.min.css" rel="stylesheet" />
    <link href="~/main/new/style.css" rel="stylesheet" />
    <script src="~/main/new/js/custom.js"></script>

    <link href="~/main/css/animate.css" rel="stylesheet" />
    <link href="~/main/css/icomoon.css" rel="stylesheet" />
    <link href="~/main/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
    <link href="~/main/css/style.css" rel="stylesheet" />
    <link href="~/main/css/styles.css" rel="stylesheet" />
    <link href="~/main/css/styless.css" rel="stylesheet" />
    <link href="~/main/loginform.css" rel="stylesheet" />

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />*@

    <script src="~/css/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/css/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/css/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <style>
        input.input-validation-error {
            border-color: red;
        }
    </style>

</head>
<body>

    <div class="py-md-3 py-4 border-bottom">
        <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-3 px-md-0">
                <div class="col-md-4 order-md-2 mb-2 mb-md-0 align-items-center text-center">
                    <a class="d-flex justify-content-center align-items-center" href="#">
                        +34 586 778 8892
                    </a><span>Toll Free</span>
                </div>
                <div class="col-md-4 order-md-1 d-flex topper mb-md-0 mb-2 align-items-center text-md-right">
                    <div class="icon d-flex justify-content-center align-items-center order-md-last">
                        <span class="icon-map"></span>
                    </div>
                    <div class="pr-md-4 pl-md-0 pl-3 text">
                        <p class="con"><span>OCMO03</span> <span>Health Care</span></p>
                        <p class="con">The Most Valuable Thing Is Your Health</p>
                    </div>
                </div>
                <div class="col-md-4 order-md-3 d-flex topper mb-md-0 align-items-center">
                    <div class="icon d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                    <div class="text pl-3 pl-md-3">
                        <p class="hr"><span>Open Hours</span></p>
                        <p class="time"><span>Mon - Sat:</span> <span>8:00am - 11:00pm</span> Sun: Closed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container d-flex align-items-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#services" class="nav-link">Departments</a></li>
                    @*<li class="nav-item"><a asp-controller="Hospital" asp-action="FindHospital" class="nav-link">Find Hospital</a></li>*@
                    <li class="nav-item"><a asp-controller="Clinic" asp-action="FindClinic" class="nav-link">Find Clinic</a></li>
                    <li class="nav-item active"><a class="nav-link">Online Booking</a></li>
                    <li class="dropdown dropright">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="badge custom-badge red pull-right"></span><b class="caret"></b></a>
                        <ul class="dropdown-backdrop">
                            <li><a id="register" asp-area="Identity" asp-controller="Account" asp-action="Login">Login</a></li>
                            <li><a id="login" asp-area="Identity" asp-controller="Account" asp-action="Register">Register</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>



    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; OCMS03_TheCollective 2020</span>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    @await Html.PartialAsync("_notificationPartial")

    <script src="~/main/js/jquery.min.js"></script>
    <script src="~/main/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/main/js/popper.min.js"></script>
    <script src="~/main/js/bootstrap.min.js"></script>
    <script src="~/main/js/jquery.easing.1.3.js"></script>
    <script src="~/main/js/jquery.waypoints.min.js"></script>
    <script src="~/main/js/jquery.stellar.min.js"></script>
    <script src="~/main/js/owl.carousel.min.js"></script>
    <script src="~/main/js/jquery.magnific-popup.min.js"></script>
    <script src="~/main/js/aos.js"></script>
    <script src="~/main/js/jquery.animateNumber.min.js"></script>
    <script src="~/main/js/bootstrap-datepicker.js"></script>
    <script src="~/main/js/jquery.timepicker.min.js"></script>
    <script src="~/main/js/scrollax.min.js"></script>
    <script src="~/main/js/main.js"></script>


    <script src="~/tables/datatables/jquery.dataTables.min.js"></script>
    <script src="~/tables/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/tables/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/tables/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
