@model OCMS03.Models.Content.Department

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <form asp-action="Delete">
        <input type="hidden" asp-for="DepartmentId" />
    </form>