@model OCMS03.Models.Content.Medication

@{
    ViewData["Title"] = "AddOrEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Add Medications</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-info fa-sm text-white"></i>
    </a>
</div>
<div class="row">
    <div class="col-lg-12">
        <form asp-action="AddOrEdit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
            <input type="hidden" asp-for="MedicationId" />
            <div class="form-group">
                <label asp-for="RegistryNo" class="control-label"></label>
                <input asp-for="RegistryNo" class="form-control" />
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="ProductName" class="control-label"></label>
                    <input asp-for="ProductName" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ActiveIngredients" class="control-label"></label>
                    <input asp-for="ActiveIngredients" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="StrengthOrPacksize" class="control-label"></label>
                    <input asp-for="StrengthOrPacksize" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="PackSize" class="control-label"></label>
                    <input asp-for="PackSize" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MedExpirationDate" class="control-label"></label>
                <input asp-for="MedExpirationDate" class="form-control" />
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="Form" class="control-label"></label>
                    <input asp-for="Form" class="form-control" />
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Schedule" class="control-label"></label>
                    <input asp-for="Schedule" class="form-control" />
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="QuantityAndLimitation" class="control-label"></label>
                    <input asp-for="QuantityAndLimitation" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-icon-text btn-sm">
                    <i class="mdi mdi-content-save-all btn-icon-prepend"></i>
                    @(Model.MedicationId != null ? "Update" : "Create")
                </button>
                <a asp-action="Index" class="btn btn-secondary btn-icon-text btn-sm">
                    <i class="mdi mdi-reload btn-icon-prepend"></i>
                    Back
                </a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
